/* Colors */

$dt-darker-color: #161616;
$dt-primary-color: #444444;
$dt-seconday-color: #282828;
$dt-dark-secondary-color: #dadada;
$dt-dark-light-color: #aaaaaa;
$dt-light-color: #cccccc;
$dt-whiter-color: #ffffff;

/**
 * Screen < 625px
 */
html.dark {
  background-color: #1d1d1d;
  color: $dt-light-color;

  *::selection {
    color: $dt-darker-color;
    background-color: $dt-whiter-color;
  }

  // Link
  a {
    color: $dt-light-color;
  }

  // Button
  .button {
    background-color: $dt-primary-color;
    color: $dt-whiter-color;

    &--secondary {
      background-color: $dt-seconday-color;
      color: $dt-dark-secondary-color;
    }
  }

  // Underline
  .underline {
    &:after {
      background-color: $dt-seconday-color;
    }
  }

  body {
    // Header
    .header {
      &__title {
        color: $dt-whiter-color;
      }
    }

    // Main
    .main {
      &__illustration {
        &--light {
          display: none;
        }

        &--dark {
          display: block;
        }
      }

      &__title {
        color: $dt-whiter-color;
      }
    }

    // Footer
    .footer {
      background-color: $dt-darker-color;
      color: $dt-dark-light-color;

      &__button {
        &--light {
          display: none;
        }

        &--dark {
          display: block;
        }
      }

      &__separator {
        &--light {
          display: none;
        }

        &--dark {
          display: block;
        }
      }
    }
  }
}

/**
 * Screen > 625px
 */
@media screen and (min-width: 625px) {
  html.dark {
    // Footer
    .footer {
      background-color: transparent !important;
    }
  }
}
