/* Colors */

$darker-color: #000000;
$primary-color: #0066ff;
$seconday-color: #dee9ff;
$dark-secondary-color: #00467f;
$dark-light-color: #6e6e6e;
$light-color: #f2f2f2;
$whiter-color: #ffffff;

/* Fonts face */

$regular-font: 'Poppins', sans-serif;

$regular-weight: 400;
$semibold-weight: 600;
$bold-weight: 700;

/* Fonts size */

$regular-font-size-sm: 14px;
$regular-font-size-md: 16px;
$small-font-size-sm: 10px;
$small-font-size-md: 14px;
$h1-font-size-sm: 24px;
$h1-font-size-md: 64px;
$h2-font-size-sm: 18px;
$h2-font-size-md: 28px;

/* Spacing */

$spacing-sm: 32px;
$spacing-md: 64px;
