@import 'light-theme';

/**
 * Screen < 625px
 */
html {
  background-color: $whiter-color;
  color: $darker-color;
  font-family: $regular-font;
  font-size: $regular-font-size-sm;
  font-weight: $regular-weight;
  text-align: center;

  * {
    box-sizing: border-box;
  }

  *::selection {
    color: $whiter-color;
    background-color: $primary-color;
  }

  // Link
  a {
    color: $darker-color;
    font-weight: $bold-weight;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  // Button
  .button {
    background-color: $primary-color;
    border-radius: 5px;
    color: $whiter-color;
    display: block;
    font-weight: $semibold-weight;
    padding: 12px;
    transition: transform 300ms ease;

    &:hover {
      text-decoration: none;
      cursor: pointer;
      transform: scale(1.03);
    }

    &--secondary {
      background-color: $seconday-color;
      color: $dark-secondary-color;
    }
  }

  // Underline
  .underline {
    position: relative;
    z-index: 0;

    &:after {
      background-color: $seconday-color;
      bottom: 2px;
      content: '';
      height: 12px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: 100%;
    justify-content: space-between;

    // Header
    .header {
      padding: $spacing-sm $spacing-sm 0 $spacing-sm;

      &__title {
        color: $primary-color;
        font-size: $h2-font-size-sm;
        font-weight: $bold-weight;
      }

      &__button {
        display: none;
      }
    }

    // Main
    .main {
      padding: $spacing-sm $spacing-sm 0 $spacing-sm;

      &__illustration {
        margin: 0 auto $spacing-sm auto;
        
        img {
          user-select: none;
          width: 45%;
          height: auto;
        }

        &--light {
          display: block;
        }
  
        &--dark {
          display: none;
        }
      }

      &__title {
        font-size: $h1-font-size-sm;
        font-weight: $bold-weight;
        padding-bottom: $spacing-sm;
      }

      &__paragraph {
        line-height: 1.5;

        &:not(:first-of-type) {
          padding-top: 12px;
        }
      }

      &__links {
        padding-top: $spacing-sm;

        .links__item:not(:first-child) {
          margin-top: calc(#{$spacing-sm} / 2);
        }
      }

      &__contact {
        padding-top: $spacing-sm;
      }
    }

    // Footer
    .footer {
      background-color: $light-color;
      color: $dark-light-color;
      margin-top: calc(#{$spacing-sm} * 2);
      position: relative;

      &__button {
        border: none;
        bottom: 7px;
        cursor: pointer;
        left: 7px;
        padding: 0;
        position: absolute;
        transition: transform 200ms ease;

        img {
          width: 16px;
        }

        &:hover {
          transform: scale(1.03);
        }

        &--dark {
          display: none;
        }
      }

      &__separator {
        left: 0px;
        position: absolute;
        top: 0px;
        transform: translateY(-95%);
        width: 100%;
        height: auto;
        user-select: none;
        z-index: -1;

        &--dark {
          display: none;
        }
      }

      &__copyright {
        padding: 16px;
        font-size: $small-font-size-sm;

        strong {
          font-weight: $semibold-weight;
        }

        &--md {
          display: none;
        }
      }
    }
  }
}

/**
 * Screen > 625px
 */
@media screen and (min-width: 625px) {
  html {
    font-size: $regular-font-size-md;
    text-align: left;

    // Button
    .button {
      text-align: center;
      padding: 16px;
      width: 132px;
    }

    // Underline
    .underline {
      &:after {
        bottom: 8px;
        height: 24px;
      }
    }

    body {
      // Header
      .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: $spacing-sm 5% 0 5%;

        &__title {
          font-size: $h2-font-size-md;
        }

        &__button {
          display: block;
          width: 150px;
        }
      }

      // Main
      .main {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 32px 12% 0 12%;

        &__illustration {
          order: 1;
          margin-bottom: 0;
          margin-left: auto;
          margin: 0 0 0 auto;

          img {
            width: 90%;
          }
        }

        &__content {
          width: 60%;
        }

        &__title {
          font-size: $h1-font-size-md;
          padding-bottom: $spacing-md;
        }

        &__paragraph {
          &:not(:first-of-type) {
            padding-top: 16px;
          }
        }

        &__links {
          display: flex;
          padding-top: $spacing-md;

          .links__item:not(:first-child) {
            margin-top: 0;
            margin-left: 48px;
          }
        }

        &__contact {
          display: none;
        }
      }

      // Footer
      .footer {
        background-color: transparent;
        bottom: 0;
        left: 0;
        margin-top: 0;

        &__button {
          left: 16px;
          bottom: 25%;

          img {
            width: 24px;
          }
        }

        &__separator {
          position: relative;
          transform: translateY(0%);
        }

        &__copyright {
          position: absolute;
          padding: 0;
          right: 32px;
          bottom: 25%;
          font-size: $small-font-size-md;
          text-align: right;
          line-height: 1.3;

          strong {
            display: block;
          }

          &--sm {
            display: none;
          }

          &--md {
            display: block;
          }
        }
      }
    }
  }
}

/**
 * Dark theme
 */
@import 'dark-theme';
